@model IEnumerable<Cumulative1.Models.Student>
@{
    ViewBag.Title = "Student List";
}

<div id="containerList">
    <nav>
        <a class="navlink" href="/Student/New">New Student</a>
    </nav>
    <h2>List of Students</h2>
    <form action="/Student/List" method="GET">
        <input type="text" name="SearchKey" autocomplete="off" />
        <input type="submit" value="Search" />
    </form>
    @foreach (var student in Model)
    {
        <div class="listitem row">
            <div class="col-md-12" `><a href="/Student/Show/@student.StudentId">@student.FirstName @student.LastName</a></div>
        </div>
    }
</div>

