@model Cumulative1.Models.Student
@{
    ViewBag.Title = "Show";
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Student/List">Back To Students</a>
        <a class="dellink" href="/Student/DeleteConfirm/@Model.StudentId">Delete</a>
        <a class="navlink" href="/Student/Update/@Model.StudentId">Update</a>
    </nav>
    <h2>@Model.FirstName @Model.LastName</h2>
</div>
