@model IEnumerable<Cumulative1.Models.Teacher>
@{
    ViewBag.Title = "Teacher List";
}

<div id="containerList">
    <nav>
        <a class="navlink" href="/Teacher/New">New Teacher</a>
    </nav>
    <h2>List of Teachers</h2>
    <form action="/Teacher/List" method="GET">
        <input type="text" name="SearchKey" autocomplete="off" />
        <input type="submit" value="Search" />
    </form>
    @foreach (var teacher in Model)
    {
        <div class="listitem row">
            <div class="col-md-12" `><a href="/Teacher/Show/@teacher.TeacherId">@teacher.FirstName @teacher.LastName</a></div>
        </div>
    }
</div>

