@model Cumulative1.Models.TeacherCourseList
@{
    ViewBag.Title = "Show";
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List">Back To Teachers</a>
        <a class="dellink" href="/Teacher/DeleteConfirm/@Model.Teacher.TeacherId">Delete</a>
    </nav>
    <h2>@Model.Teacher.FirstName @Model.Teacher.LastName</h2>
</div>
@foreach (var course in Model.Courses)
{
    <div class="listitem row">
        <div class="col-md-12" `><a href="/Course/Show/@course.ClassId">@course.ClassCode @course.ClassName</a></div>
    </div>
}
