@model Cumulative1.Models.Course
@{
    ViewBag.Title = "Show";
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Class/List">Back To Classes</a>
        <a class="dellink" href="/Class/DeleteConfirm/@Model.ClassId">Delete</a>
    </nav>
    <h2>@Model.ClassCode @Model.ClassName</h2>
</div>
